body > .m-top10{
margin-top: 0px !important;
background: #000 url("http://s24.postimg.org/y7fik8ckj/qq_OOJBa.jpg") !important;
background-attachment: fixed !important;
}
.d .sortable-list .info-cont .divider span, .d .flexslider, body.d .profile-wrapper .user-information-section span, .d .container-body-from, .d .profile-container, .d .gym-container .gym-box, .d .menu-body, .d .cont-gray10, .d .cont-gray {
background-color: #BFBFBF !important;
}
.d .profile-wrapper .profile-container.personal-info {
background: #BFBFBF url("/images/v2/profile/personal_info.png?v=1442930962826") no-repeat scroll -18px 14px !important;
}
.d .awards-msg, .d #medals-tab-menu, .d .merits-list li, .d .medals-progress .medals-list, .d .profile-wrapper .medals-container {
background-color: #BFBFBF !important;
}
.d .list-link-wrapper .list-link {
background-color: #BFBFBF !important;
}
