@font-face {
    font-family:'Oswald';
    font-style:normal;
    font-weight:400;
    src:local('Oswald Regular'), local('Oswald-Regular'), url(http://fonts.gstatic.com/s/oswald/v10/pEobIV_lL25TKBpqVI_a2w.woff2) format('woff2')
}
@font-face {
    font-family:'PT Sans Narrow';
    font-style:normal;
    font-weight:400;
    src:local('PT Sans Narrow'), local('PTSans-Narrow'), url(http://fonts.gstatic.com/s/ptsansnarrow/v7/UyYrYy3ltEffJV9QueSi4UU-p1xzoRgkupcXIqgYFBc.woff2) format('woff2')
}
@font-face {
    font-family:'Open Sans';
    font-style:normal;
    font-weight:400;
    src:local('Open Sans'), local('OpenSans'), url(http://fonts.gstatic.com/s/opensans/v13/cJZKeOuBrn4kERxqtaUH3VtXRa8TVwTICgirnJhmVJw.woff2) format('woff2')
}
@font-face {
    font-family:'Open Sans';
    font-style:normal;
    font-weight:600;
    src:local('Open Sans Semibold'), local('OpenSans-Semibold'), url(http://fonts.gstatic.com/s/opensans/v13/MTP_ySUJH_bn48VBG8sNSugdm0LZdjqr5-oayXSOefg.woff2) format('woff2')
}
@font-face {
    font-family:'Open Sans';
    font-style:italic;
    font-weight:600;
    src:local('Open Sans Semibold Italic'), local('OpenSans-SemiboldItalic'), url(http://fonts.gstatic.com/s/opensans/v13/PRmiXeptR36kaC0GEAetxl2umOyRU7PgRiv8DXcgJjk.woff2) format('woff2')
}
@font-face {
    font-family:'Open Sans Condensed';
    font-style:normal;
    font-weight:300;
    src:local('Open Sans Cond Light'), local('OpenSans-CondensedLight'), url(http://fonts.gstatic.com/s/opensanscondensed/v10/gk5FxslNkTTHtojXrkp-xBEur64QvLD-0IbiAdTUNXE.woff2) format('woff2')
}
@font-face {
    font-family:'Contrail One';
    font-style:normal;
    font-weight:400;
    src:local('Contrail One'), local('ContrailOne-Regular'), url(http://fonts.gstatic.com/s/contrailone/v6/b41KxjgiyqX-hkggANDU6Ogdm0LZdjqr5-oayXSOefg.woff2) format('woff2')
}
@font-face {
    font-family:'Anton';
    font-style:normal;
    font-weight:400;
    src:local('Anton'), url(http://fonts.gstatic.com/s/anton/v7/o-91-t7-bPc7W26HmS2N4Q.woff2) format('woff2')
}
@font-face {
    font-family:'Archivo Narrow';
    font-style:normal;
    font-weight:400;
    src:local('Archivo Narrow Regular'), local('ArchivoNarrow-Regular'), url(http://fonts.gstatic.com/s/archivonarrow/v5/DsLzC9scoPnrGiwYYMQXpkU-p1xzoRgkupcXIqgYFBc.woff2) format('woff2')
}
@font-face {
    font-family:'Archivo Narrow';
    font-style:normal;
    font-weight:700;
    src:local('Archivo Narrow Bold'), local('ArchivoNarrow-Bold'), url(http://fonts.gstatic.com/s/archivonarrow/v5/M__Wu4PAmHf4YZvQM8tWsBKUK2vxztsQZZBkxIuj92o.woff2) format('woff2')
}
